<div class="container">
  <div class="box">
    <br>

    <form #accountInputForm="ngForm">
      <header class="center">
        <h1 class="center">List Of Operations</h1>
      </header>

      <div class="form">

        <mat-form-field appearance="fill">
          <mat-label>Account</mat-label>
          <input type="number"
            name="account"
            ngModel
            matInput>
        </mat-form-field><br>

        <button mat-raised-button
          color="primary"
          (click)="CheckAccount(accountInputForm)">
          Show Operations</button>
      </div>

    </form>
  </div>
</div>


<!-- <div class="card-container"> -->
<div *ngFor="let field of operations">
  <div *ngIf="account === field.accountNumber">
    <div *ngIf="account">
      <mat-card class="example-card">
        <!-- <mat-card-title>account: {{account}}</mat-card-title> -->
        <!-- <mat-card-title>account number: {{field.accountNumber}}</mat-card-title> -->
        <mat-card-title>{{field.type}}</mat-card-title>
        <mat-card-subtitle>Ammount: {{field.ammount}}
        </mat-card-subtitle>
        <mat-card-content>
          <p *ngIf="field.type === 'loan' "> Interest:{{field.interest}}
          </p>
          <p *ngIf="field.type === 'loan' ">Payment: {{field.payments}}
          </p>
          <p *ngIf="field.operationDate !== '0-0-0' "> Date:{{field.operationDate}}
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
      </mat-card>

    </div>
  </div>
</div>

<app-operation></app-operation>
<!-- <router-outlet></router-outlet> -->

<!--
  {{field.operationId}}
  {{field.accountNumber}}
  {{field.type}}
  {{field.ammount}}
  {{field.interest}}
  {{field.payments}}
  {{field.operationDate}}
</div> -->
